<div class="bg-green-400 px-5 py-10 ">
  <div class=" flex justify-between ">
    <div>
      AyaleX
    </div>
    <div>
      First block
    </div>
    <div>
      Third block
    </div>
  </div>
  <p class=" text-center pt-14 font-extrabold text-2xl text-white">
    FIND THE BEST PLACE TO STAY <br> DURING YOUR HOLIDAYS
  </p>
</div>
<div class=" absolute z-10 top-52 w-screen flex justify-center ">
    <div class=" px-4 py-1  rounded-full bg-emerald-500 w-auto h-8 flex justify-between space-x-32">
      <div>Location</div>
      <div>Location</div>
      <div>Location</div>
      <div>Location</div>
    </div>
</div>
<router-outlet></router-outlet>
